<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.NtfEmlTplMapper">

    <resultMap type="org.dromara.system.domain.vo.NtfEmlTplVo" id="NtfEmlTplResult">
        <id property="emlTplCode" column="eml_tpl_code"/>
    </resultMap>

    <select id="selectEmlTplByEmlTplCode" parameterType="String"  resultType="org.dromara.system.domain.NtfEmlTpl">
        select *
        from ntf_eml_tpl
        where eml_tpl_code = #{emlTplCode}
    </select>

</mapper>
