<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dromara.system.mapper.SysUsrPermMapper">

    <resultMap type="org.dromara.system.domain.vo.SysUsrPermVo" id="SysUsrPrmResult">
        <id property="username" column="username"/>
    </resultMap>

    <select id="selectUsrPermList" resultMap="SysUsrPrmResult">
        SELECT username, perm_list
        FROM each_usr_perm
        ${ew.getCustomSqlSegment}
    </select>


</mapper>
